$('#setscroll'+"<%=params[:data][:message][:message]['user_id'] %>").append("<div class='row msg_container base_receive'> <div class='col-md-2 col-xs-2 avatar-custom'> </div> <div class='col-xs-10 col-md-10'> <div class='messages msg_receive'> <p>"+"<%=params[:data][:message][:message]['content'] %>"+"</p><time >"+"<%=params[:data][:message][:message]['time'] %>"+"</time> </div> </div> </div>");
var mydiv = $("#setscroll"+"<%=params[:data][:message][:message]['user_id'] %>");
mydiv.scrollTop(mydiv.prop("scrollHeight"));
