<h1>Page index Admin with src Admins</h1>
<div style="text-align:center">
    
    <h4><%= link_to 'Category', categories_path %></h4>
   <h4><%= link_to 'Products', products_path %></h4>
   <h4><%= link_to 'Admins User', admins_path %></h4>
    
</div>