<%= form_for [:admins,@category] , class:"form-group", html: { multipart: true } do |f| %>
<p style="padding:2px">Name</p>
<%= f.text_field :name, class: 'form-control',placeholder: "Name Category",maxlength:"30",minlength:"3",required:"required"%><br>
<div class="form-actions">
  <%= f.submit 'Create', class: 'btn btn-success btn-block' %>
</div>
<% end %>