<%= form_for [:admins,@category] , class:"form-group", html: { multipart: true } do |f| %>
  
    <%= f.text_field :name, class: 'form-control'%><br>
    <%= f.text_field :description, class: 'form-control' %>
    <br>
  <div class="form-actions">
    <%= f.submit 'Create', class: 'btn btn-success btn-block' %>
  </div>
<% end %>