<h1>Edit a carousel in home page user</h1>
<%= render 'form', carousel: @carousel %>
<%= link_to 'Destroy carousel this', admins_carousel_path(@carousel), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger mt-3" %>
