<div class="abouts" style="margin-top: 100px; margin-bottom: 100px">
	<div class="container pt-5 pb-5" style="background-color: white">
		<h3 class="border-bottom text-center mb-5">ABOUT N-AIR SHOP</h3>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<%= image_tag "slide.jpeg", style:"height: 600px", class:"w-100"%>
			</div>
			<div class="col-lg-8 col-md-6">
				<p class="text-justify font-italic">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae tempor dolor. Praesent scelerisque sit amet mi a dapibus. Integer quis dui vel est pharetra semper et sed sapien. Curabitur elementum neque eget urna posuere, eget fringilla ante faucibus. Ut sollicitudin scelerisque leo, id condimentum eros egestas eget. Maecenas molestie magna sit amet sapien aliquet rhoncus. Mauris mi ante, convallis ac sem consequat, sagittis imperdiet diam. Nunc id mi nulla. Praesent sapien arcu, pulvinar in dictum in, venenatis et lectus. Sed tincidunt elementum leo id scelerisque.

				Fusce mattis, massa sed mattis vestibulum, diam augue placerat metus, ac volutpat nulla dolor non elit. Aliquam cursus feugiat justo vitae congue. Vivamus at interdum ante. Mauris quis placerat neque. Cras ipsum sapien, finibus id nibh id, semper cursus ipsum. Nunc convallis aliquet felis, eu porta mauris ornare ut. Etiam scelerisque sodales lorem, in commodo leo pretium nec. Etiam dapibus, quam a condimentum gravida, ex erat tempus orci, at lacinia ipsum lacus vel libero. Etiam vestibulum sapien eu augue viverra efficitur. Etiam pulvinar, nulla non gravida vulputate, erat massa aliquam dui, non accumsan enim mauris a dui. Sed efficitur, tortor at gravida dapibus, velit urna iaculis lacus, in vulputate velit nunc nec dui. Vestibulum tristique dui quis quam interdum, eu maximus leo varius. Fusce pulvinar ut ipsum at pellentesque. Pellentesque quis elit sagittis, posuere velit sit amet, sodales ipsum.

				Nullam vitae risus posuere, molestie augue vel, faucibus ante. Aliquam id eros eros. Etiam auctor placerat risus, at tincidunt sapien laoreet vitae. Praesent condimentum consequat dui nec viverra. Proin tincidunt a metus vitae fringilla. Quisque ut consectetur lorem. Morbi vulputate purus sed pellentesque gravida. Vestibulum tempus ante sit amet odio finibus efficitur. Proin sagittis tempor justo varius tempor. Morbi eleifend imperdiet arcu at sagittis. Mauris aliquam, erat vitae ultrices feugiat, mi velit vulputate enim, vitae consectetur sem diam eget odio.
				</p>
			</div>
		</div>
	</div>
</div>