<div class="container">
  <%= link_to "Import file excel ", new_admins_transport_cost_path,class: "btn btn-primary"  %>
  <h2>Transport cost of provinces</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Provice</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
     <% @provinces.each { |p| %>
      <tr>
        <td><%= p.province %></td>
        <td><%= p.price %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>