
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "dataTables.bootstrap";
@import "dataTables.jqueryui.min";
@import "jquery.dataTables.min";
@import "product";
@import "user";
@import "footer";
@import "nav";
@import "cart";
@import "comments";
@import "owl.carousel.min";
/*
*= require jquery-ui/autocomplete
*/
@import "message";
@import "news";
body{
  overflow-x:hidden;
  padding:0;
  margin:0;
  background: rgba(236, 236, 236, 0.51);
}



*{
  font-family: time new roman, times, serif;
}
li {
    list-style-type: none;
}
.usernav {
    font-size: 2em;
    text-decoration: none;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer-grid{
	margin-top: 200px;
}
.btn-payment{
	width:100%;
}

.pay-form{
	margin: 0 auto;
	width:60%;
}
.grid-gallery, .grid-details {
    padding: 20px;
}

.nav-item{
  font-size: 22px;
  font-weight: 600;
  color:white;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle::after {
    display:none;
}

.dropdown-menu{
  background-color: #343a40 !important;
}

.dropdown-item{
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.dropdown-item:hover{
  background-color: white;
  color: #343a40 !important;
}

.w-48{
  width: 48%;
}

.card-img-top{
  max-width: 100%;
  height: 16rem;
}

.card-body{
  background-color: #f9f9f9;
}
.line{
  border:none;
  height: 20px;
  width: 20%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px; 
}

.categories{
  padding: 0;
  color: #757570;
}

.cat-item{
  color: #757570;
}

.cat-item:hover{
  text-decoration: none;
}

.show_detail {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(13, 14, 23, .7);
  color: white;
}

.card:hover{
  opacity: 0.8;
  border: 2px solid #000;
}

.card:hover .show_detail{
  opacity: 1;
  text-decoration:none;
}

.show_detail:hover{
  font-size:16px;
  color: white;
  background-color: #000000
}

.card-text{
  margin-bottom: 0;
}
.product-name{
  float:left;
}

.product-price{
  float:right;
}

.carousel-item {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-item .image{
  width: 100%;
  height: auto;
}

.creator{
  color: #212529;
}
.creator:hover{
  text-decoration: none;
}

footer hr{
  border-top: 1px solid rgb(255, 255, 255);
}

.social-icons{
  list-style:none;
  float: right;
  text-align: center;
}

.social-icons li{
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-right: 2px;
}

.social-icons li i .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%
}

.social-icons li i .fa:hover {
    opacity: 0.7;
}

.social-icons li i .fa-facebook {
  background: #3B5998;
  color: white;
}

.social-icons li i .fa-twitter {
  background: #55ACEE;
  color: white;
}

.about{
  background-color: #e2e2e2;
}


.newsletter p{
  width: 100%;
  color: black;
  font-weight: 700;
  font-size: 20px;
}

#news{
  width: 100%;
  margin: 0 auto;
}

#news .form-row{
  padding: 0px 10px;
}

#news .btn{
  width:100%;
}

.cart-item:hover{
  background: rgba(7, 1, 3, .6)
}
.carousel-item {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}


    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
       // position: fixed; // chua xu ly xong nav position fixed kem aftect 
       z-index: 999;
       width: 100%;
      
}
// .y{
//        margin-top: 3em; // chua xu ly xong nav position fixed kem aftect 
// }

#paginate nav{
  width: 25%;
  margin: auto;
}


.brand {
  width: 100%;
  height: 400px;
  position: relative;
}
.brand img{
  width: 100%;
  height: 400px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay img{
  max-width: 100%;
  height: 400px;
}
.brand:hover .overlay{
  height: 400px;
}

.first-nav{
    color: rgba(0,0,0,.5);
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.price-sort{
  padding-left: 0;
  font-size: 16px;
}
.price-sort li a{
  color: black;
  text-decoration: none;
}

.price-sort li a:hover{
  color: black;
  font-weight: bold;
}

#facebook{
  color:#3C5A99;
}

#instagram{
  color: #C13584;
}

.twitter{
  color: #1DA1F2;
}

.navbar-brand{
  width: 30%;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}

.cart{
  position: relative;
}

.cart-text{
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  padding: 1px 2px;
}

.img-row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.img-col{
  flex: 50%;
  padding: 0 4px;
}

.img-col img{
  margin-top: 8px;
  vertical-align: middle;
  width:100%; 
}

#status-bar{
  height: 100%;
}

.status-item{
  height: 100%;
  display:flex;
  align-items: center;
}

.status-item a{
  color: #524c4c;
  font-weight: 600;
  width: 100%;
  font-size: 20px;
}

.status-item a:hover{
  color: black;
  text-decoration: none;
}

.status-active{
  border-bottom: 3px solid grey;
}
.sidebar-item{
  color: black;
  font-weight: 600;
}

.sidebar-item:hover{
  text-decoration: none;
  color: red;
}

.sidebar-child-item{
  color:black;
}

.sidebar-child-item.active{
  color: red;
}

.sidebar-child-item:hover{
  text-decoration: none;
  color: red;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
}
/*
.navbar-collapse .form-inline {
  width: 280px;
}
.navbar-collapse .form-inline input[type="search"]{
  visibility: hidden;
  opacity: 0;
  
  transition: opacity .5s;
}

.navbar-collapse .form-inline input[type="search"].active{
  visibility: visible;
  opacity: 1;
  transition: opacity .5s;
}
*/

.search .form-inline input[type="search"]{
  background: white  url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  padding: 9px 32px 9px 10px;
  border-radius: 10em;
  transition: all .5s;
  outline: none;
  border: none;
  background-position: center;
}

.search .form-inline input[type="search"]:focus{
  width: 270px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  background-position:right;
  background-origin: content-box;
}

.search .form-inline input::-webkit-search-cancel-button {
  display: none; 
}

.ui-menu{
  font-style:italic;
  background-color: white;
  width: 100%;
  z-index: 2000;
  padding:0;
  color: black;
  font-weight: 600;
}

.ui-menu-item a{
  color: #343a40 !important;
  font-weight: 300;
}
.ui-menu-item a:hover{
  font-weight: 700;
  text-decoration: none;
}

.ui-state-active{
  color: #343a40 !important;
}

.owl-nav{
  position: initial;
}

.owl-nav button{
position: absolute;
top: 40%;
border:1px solid #000;
width: 40px;
height: 40px;
border-radius: 50%;
}

.owl-prev{
  left: -20px;
  display: flex;
  background-color:white;
}

.owl-next{
  right: -20px;
  display: flex;
  background-color:white;
}

.owl-prev i, .owl-next i{
  margin: auto;
  color: #b7b3b3
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
   background: none repeat scroll 0 0 #869791;
   border-radius: 20px;
   display: block;
   height: 12px;
   margin: 5px 7px;
   opacity: 0.5;
   width: 12px;
}

.first-right i span a{
  color: rgba(0,0,0,0.5);
  text-decoration:none;
}

@media only screen and (max-width: 575px) {
  .newsletter .container .news {
    width: 100%;
  }
  .welcome-text{
    width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  .welcome-text{
    width: 50%;
  }

  .newsletter .container .news {
    width: 75%;
  }
}

@media only screen and (max-width: 991px) {
  .brand-item{
    margin-bottom: 10px;
  }
}
/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;  
     text-align: center;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
 }
 div.custom-error_explanation {
    background: #343a40 !important;
    color: white;
    text-align: center;
}
div.custom-error_explanation ul{
  color: black;
}