
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "dataTables.bootstrap";

@import "dataTables.jqueryui.min";
@import "jquery.dataTables.min";
@import "product";
@import "user";
@import "footer";
@import "nav";
@import "home";


body{
  overflow-x:hidden;
  padding:0;
  margin:0;
  background: rgba(247, 247, 247, 0.51);
}



*{
  font-family: time new roman, times, serif;
}
li {
    list-style-type: none;
}
.usernav {
    font-size: 2em;
    text-decoration: none;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer-grid{
	margin-top: 200px;
}
.btn-payment{
	width:100%;
}

.pay-form{
	margin: 0 auto;
	width:60%;
}
.grid-gallery, .grid-details {
    padding: 20px;
}

.nav-item{
  font-size: 22px;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle::after {
    display:none;
}

.dropdown-menu{
  background-color: #343a40;
}

.dropdown-item{
  font-size: 20px;
  color: #fff;
}

.dropdown-item:hover{
  background-color: #f7f4f4
}

.w-48{
  width: 48%;
}

.card-img-top{
  max-width: 100%;
  height: 16rem;
}

.card-body{
  background-color: #f9f9f9;
}
.line{
  border:none;
  height: 20px;
  width: 20%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px; 
}

.categories{
  padding: 0;
  color: #757570;
}

.cat-item{
  color: #757570;
}

.cat-item:hover{
  text-decoration: none;
}

.show_detail {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(13, 14, 23, .7);
  color: white;
}

.card:hover{
  opacity: 0.7;
  border: 2px solid #000;
}

.card:hover .show_detail{
  opacity: 1;
  text-decoration:none;
}

.show_detail:hover{
  font-size:16px;
  color: white;
  background-color: #000000
}

.card-text{
  margin-bottom: 0;
}
.product-name{
  float:left;
}

.product-price{
  float:right;
}

.carousel-item {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-item .image{
  width: 100%;
  height: auto;
}

.creator{
  color: #212529;
}
.creator:hover{
  text-decoration: none;
}

footer hr{
  border-top: 1px solid rgb(255, 255, 255);
}

.social-icons{
  list-style:none;
  float: right;
  text-align: center;
}

.social-icons li{
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-right: 2px;
}

.social-icons li i .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%
}

.social-icons li i .fa:hover {
    opacity: 0.7;
}

.social-icons li i .fa-facebook {
  background: #3B5998;
  color: white;
}

.social-icons li i .fa-twitter {
  background: #55ACEE;
  color: white;
}

.about-shop{
  background-color: #e2e2e2;
}

.content{
  position: relative;
}

.overlay{
  background: rgba(13, 14, 23, .7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
}
.content p{
  position: absolute;
  top: 40%;
  text-align:center;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

#news{
  position: absolute;
  top: 55%;
  width: 100%;
  margin: 0 auto;
}

#news .form-row{
  padding: 0px 10px;
}

#news .btn{
  width:100%;
}

.cart-item:hover{
  background: rgba(7, 1, 3, .6)
}
.carousel-item {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

#paginate nav{
  width: 25%;
  margin: auto;
}