.qty > li >p {
    /* color: red; */
    font-size: 20px;
}
/*input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;*/
  /*  margin: 0;*/
/*}*/

/*input[type=number] {
    -moz-appearance:textfield;
}*/
input#changecart {
    width: 50px;
    text-align: center;
}
@media screen and (max-width: 990px){
.media-btn-close-cart{
	float:right;
}
}