.topfivenew {
    color: #0d0808b0;
    background: #e3e3e3;
    /* height: 5em; */
    padding: 17px;
    text-align: center;
    font-style: oblique;
    font-family: monospace;
}
b.new {
    color: #be6565;
    text-shadow: 2px 0px 0px #333;
}
.car-icn {
    color: #B5B2B2;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.item.imagesilde{
    height: 408px;  
    width: 1286px;
}
.hot{
    color: #be6565;
    text-shadow: 9px 0px 2px #333;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img,  .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    /* height: auto; */
    height: 1286 px;
    height: 408px;
    width: 1286px;
}