.showdetailcart {
       position: absolute;
    /* bottom: 40px; */
     right: -6px; 
    z-index: 999;
    // width: 18%;
    background: #fafafa3d;
    left: auto;
    overflow-y: scroll;
        line-height: 16px;
}
img.cartnavdropdow {
    height: 32px;
}
.foo td{
    border: 0.8px solid #c7c7c752;
}