.showdetailcart {
       position: absolute;
    /* bottom: 40px; */
    /* right: 20px; */
    z-index: 999;
    width: 18%;
    background: #dddddd;
    left: 82%;
    overflow-y: scroll;
    line-height: 11px;
}
img.cartnavdropdow {
    height: 32px;
}