#file-input{
	display: none;

}
.container.usertoolview {
    width: 41%;
}
.center{
	text-align: center;
}
img.img {
height: 9em;
width: 9em;
border-radius: 3em;
}
.login {
    max-width: 750px;
    background-color: rgba(0, 0, 0, 0.03) !important;
    /* height: 300px; */
    margin: 0 auto;
    border-radius: 15px;
}
th.showprofile {
    text-align: center;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-top-style: dashed;
}
.showdetail{
	position: absolute;
    /* bottom: 40px; */
    /* right: 20px; */
    z-index: 999;
/*    width: 100%;
*/    background: #dddddd;
/*    left: 61%;*/
    overflow-y: scroll;
    height: 18%;
}
.showdetail{
	display: none;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}