<div class="nested-fields">
  <p style="padding:2px">Quantity</p>
  <%= f.text_field :quantity , type: "number", class: "form-control", placeholder:"Quantity"%>
  <p style="padding:2px">Size</p>
  <%= f.select :size, options_for_select(36..43), {:promt => "--quantity--"}, { :class => "form-control" } %>
  <%= f.check_box :_destroy %>

  <%= link_to_remove_association "remove address", f %>
</div>