<div class="container">
  <h3 class="text-center font-weight-bold">Search Result</h3>
  <div class="row mb-5 p-5">
    <% obj.each do |product| %>
      <div class="col-lg-4 col-md-6 col-sm-12 col-sm-6 mb-5">
        <div class="card" style="width: 100%; height: 18rem">
          <%= image_tag("slide.jpeg", alt: "Product", class: "card-img-top" ) %>
          <a href="#" class="show_detail">View Detail</a>
          <div class="card-body">
            <p class="card-text d-inline product-name"><strong><%= product.name %></strong></p>
            <p class="card-text d-inline product-price"><strong>$<%= product.price %></strong></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12" id="paginate">
      <%= will_paginate obj %>
    </div>
  </div> 
</div>