<nav class="pt-1">
  <div class="container">
    <div class="row first-nav">
      <div class="w-100">
        <div class="col-sm-7  col-lg-4 col-xs-12 float-left p-0">
          <i class="fas fa-phone"><span class="ml-1">0909999999 |</span></i>
          <i class="fas fa-envelope"><span class="ml-1">example@gmail.com</span></i>
        </div>
        <div class="col-sm-5 col-lg-4 col-xs-12 float-right p-0 first-right">
          <i class="fas fa-shopping-bag cart mr-2"><span class="cart-text badge-danger">1</span></i> |
          <i class="fas fa-user ml-1"><span class="ml-1">My Account</span></i> |
          <i class="fas fa-envelope ml-1"><span class="ml-1"> Sign Up</span></i>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to 'N-AIR SHOP', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item mr-3">
          <%= link_to 'Home', root_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown mr-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shop
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% Category.all.each do |cat| %>
            <%= link_to cat.name, category_path(cat), class:"dropdown-item" %>
            <% end %>
          </div>
        </li>
        <li class="nav-item mr-3">
          <%= link_to 'About', about_path, class:"nav-link" %>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
